* {
  text-decoration: none;
}

.box-container{
  margin: 0 auto;
  width: 45%;
}

h3 {
  margin: 0 15px;
  padding: 20px;
  text-align: center;
}

.field  {
  margin: 0 15px;
  padding-bottom: 10px;
  :before {
    content: "必須";
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: 500;
    background-color: #FF7068;
    border: none;
    border-radius: 3px;
    display: inline-block;
    width: 30px;
    height: 17px;
    z-index: 1000000;
  }
}

.btn {
  color: white;
  text-align: center;
  margin-top: 10px;
}

input[type="text"],[type="email"],[type="password"] {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: #EEEEEE solid 2px ;
}

input[type="submit"] {
  width: 100%;
  height: 35px;
  background-color: #4C90E2;
  border: 0.5px solid blue;
  color: white;
  font-size: 16px;
  font-weight: 400;
  border-radius: 7px;
  text-align: center;
}

.link {
  padding: 20px;
  justify-content: center;
  color: #4C90E2;
  text-align: center;
}